body, h1, h2, h3, p, button, ul, li {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

body {
    color: white;
    font-family:"jetBrains Mono", sans-serif;
    
}

.secao-destaque, .secao-calendario {
    background-color:#00005f ;
    

}

.secao-conteudo, #rodape {
    background-color: #00002a;
 

}

.texto-superior-principal{
    font-size: 22px;
    font-weight: 800;

}

.texto-superior-secundario {
    font-size: 15px;

}

.titulo-secundario {
    font-size:42px ;
    padding: 32px 0 ;
}

.titulo-principal {
    font-size: 70px;
    font-weight: 900;
    padding: 32px 0;

}

.titulo-terciario {
    font-size: 31px; 


}

.paragrafo-padrao{
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    line-height:30px ;
    padding-bottom: 32px;
    
}

.paragrafo-menor {
    font-family: "montserrat", sans-serif;  
    font-size: 15px;

}

svg {
    fill: white;
}

.secao-destaque, .secao-conteudo, .secao-calendario {
    padding: 80px;

}
#rodape {
     padding: 32px 25px; 
     border-top: 1px solid gray;
     display: flex; 
     flex-direction: column;
     gap: 16px;
     
     
}

.rodape-link{
    color: white;
    text-decoration: none;
}

.rodape-link:hover {
    text-decoration: underline;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.botao-chamada {
    padding: 25px 50px;
    background-color: #00ffa5;
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;

}

.cartao { 
    border: 1px solid gray;
    padding: 15px;  
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
     
        
}

.lista-cartoes {
    list-style: none;
    display: flex;
    gap: 10px;
    padding-bottom: 32px;


}


@media (max-width: 1068px){
    .lista-cartoes {
      flex-direction: column;
    }
  }
  
  @media (max-width: 580px){
    .titulo-principal {
      font-size: 45px;
    }
}
    


