.secao-destaque, .secao-calendario {
    background-color:#00005f ;
    color: white;

}




.secao-conteudo {
    background-color: #00002a;
    color:white;

}

#rodape{
    background-color: #00002a ;
}


svg {
    fill: white;
}

